
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#AdminAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
			parentId	= "adminId=" + getParam("adminId");
  		parentUrl	= "/Admin/saveUsers?" + parentId;
  		addUrl 		= "/html/UserProfileForm.html?action=create";
  		deleteUrl 	= "/Admin/deleteUsers?" + parentId;
  		modelUrl 	= "/Admin/loadUsers?" + parentId;

		args = 'roleName=Users&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/UserViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'Admin_UsersDivId').html( data );
		});		
		
		//$('#' + 'Admin_UsersDivId').load(url);
		
	 			parentId	= "adminId=" + getParam("adminId");
  		parentUrl	= "/Admin/saveReferenceEngines?" + parentId;
  		addUrl 		= "/html/ReferenceEngineProfileForm.html?action=create";
  		deleteUrl 	= "/Admin/deleteReferenceEngines?" + parentId;
  		modelUrl 	= "/Admin/loadReferenceEngines?" + parentId;

		args = 'roleName=ReferenceEngines&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/ReferenceEngineViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'Admin_ReferenceEnginesDivId').html( data );
		});		
		
		//$('#' + 'Admin_ReferenceEnginesDivId').load(url);
		
	  
	 	var id = getParam("adminId");

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("adminId");
			
			jQuery.ajax(
			{
		  		url: '/Admin/load?adminId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingAdmin()
	{
		document.getElementById("AdminFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetAdmin()
	{
		document.getElementById("AdminProfileFormId").reset();
	}
	
	function saveAdmin()
	{
		$('#AdminFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#AdminProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/Admin/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#AdminProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' )
			{
				parentUrl = parentUrl + '&childId=' + data['adminId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created Admin
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('adminId').value = data['adminId'];

			if ( action == 'create' )
				$( '#AdminAssociationDivId' ).show();
*/				
			doneSavingAdmin();
		});
		
		$('#AdminFormLoadingDivId').hide();			
	
	}
		function addUsers()
	{
		addHelperForAdmin( 'User', 'Users' );
	}

	function deleteUsers()
	{
		var ids;
		deleteHelperForAdmin( 'Users', 'firstName', ids );
	}
	
	function addUsersFromList()
	{
	}
	
    		function addReferenceEngines()
	{
		addHelperForAdmin( 'ReferenceEngine', 'ReferenceEngines' );
	}

	function deleteReferenceEngines()
	{
		var ids;
		deleteHelperForAdmin( 'ReferenceEngines', 'name', ids );
	}
	
	function addReferenceEnginesFromList()
	{
	}
	
        function addHelperForAdmin( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for Admin " + roleName;
		var parentId = document.getElementById("adminId").value;
		parentUrl = '/Admin/save' + roleName + '?adminId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=admin&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForAdmin';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForAdmin( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/Admin/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#AdminProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("AdminFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="AdminProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="AdminProfileFormId" class="formTableClass">
    <input type=hidden id="adminId" name="adminId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">loginId</td>
	  <td class="formTDClass">	<input type='text' id="loginId" name="loginId" placeHolder="loginId" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">password</td>
	  <td class="formTDClass">	<input type='text' id="password" name="password" placeHolder="password" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save Admin" onclick="saveAdmin()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-floppy-disk">
		      	Save
		      </span>
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetAdmin()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-refresh">
		      	Reset
		      </span>
			</button>
		</a>
	</div> 
  </form>
</div>

<div id="AdminAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
	</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
		  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Users
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="Admin_UsersDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
			  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        ReferenceEngines
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="Admin_ReferenceEnginesDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>

  </div>
</div>
<div id="AdminFormLoadingDivId" style="display:none;color:black">
  saving Admin...<image src="../img/load_new.gif" width=48 height=48/>
</div>				  				  
<div id="AdminFormStatusDivId">
</div>				  				  


