
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#CommentAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
 
	 	var id = getParam("commentId");
		
		$( "#multiSelectForSource" ).on("change", function(e)  
		{
			//assign the selected value
			var input = document.getElementById("SourceInputId");				
			input.value = this.options[this.selectedIndex].text;
	
			if ( input.value != 'no selection' )
			{
				// save the Source
				var parentId = document.getElementById( 'commentId' ).value;
		 		var childId = this.options[this.selectedIndex].value;
		 		var url 	= '/Comment/saveSource?commentId=' + parentId + "&childId=" + childId;
	
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'json',
				}).always(function( data ) 
				{
					doneSavingComment();
				});
			}
			// hide the select
			$("#multiSelectForSourceDivId").hide();
		});
	
	 	$( document ).on('refreshSourceForComment', function() 
	 	{			
	 		// reload Comment and apply the Source
	 		var url 	= '/Comment/load?commentId=' + id;
	 		var element = document.getElementById( 'SourceInputId' );
	 		var field 	= 'source.firstName';
	 		
			jQuery.ajax(
			{
		  		url: url,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var val = '';
				var indexes = field.split( "." );
				
				if ( indexes.length == 1 )
					val = data[indexes[0]];
				else if ( indexes.length == 2 && data[indexes[0]] != null )
					val = data[indexes[0]][indexes[1]];

		 		element.value = val;
			});
	    });

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("commentId");
			
			jQuery.ajax(
			{
		  		url: '/Comment/load?commentId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingComment()
	{
		document.getElementById("CommentFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetComment()
	{
		document.getElementById("CommentProfileFormId").reset();
	}
	
	function saveComment()
	{
		$('#CommentFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#CommentProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/Comment/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#CommentProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' )
			{
				parentUrl = parentUrl + '&childId=' + data['commentId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created Comment
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('commentId').value = data['commentId'];

			if ( action == 'create' )
				$( '#CommentAssociationDivId' ).show();
*/				
			doneSavingComment();
		});
		
		$('#CommentFormLoadingDivId').hide();			
	
	}
		function addSource()
	{
		addHelperForComment( 'Referrer', 'Source' );
	}
	
	function deleteSource()
	{ 
		deleteHelperForComment( 'Source', 'firstName' );
	}

	function addSourceFromList()
	{
		// display the multi-select (viewAll and Source lists)
		$("#multiSelectForSourceDivId").show();

		jQuery.ajax(
		{
		    url: "/Referrer/viewAll",
		    dataType: 'json',
		}).always(function( data ) 
		{
			$("#multiSelectForSource").empty();
			
			var selectId	= "multiSelectForSource";
			var text 		= 'firstName';
			var value 		= 'referrerId';
			var includeBlank = true;
			
			loadOptionsWithJSONData( selectId, data, value, text, includeBlank  );
		});
	}
		
        function addHelperForComment( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for Comment " + roleName;
		var parentId = document.getElementById("commentId").value;
		parentUrl = '/Comment/save' + roleName + '?commentId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=comment&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForComment';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForComment( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/Comment/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#CommentProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("CommentFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="CommentProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="CommentProfileFormId" class="formTableClass">
    <input type=hidden id="commentId" name="commentId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">commentText</td>
	  <td class="formTDClass">	<input type='text' id="commentText" name="commentText" placeHolder="commentText" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save Comment" onclick="saveComment()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-floppy-disk">
		      	Save
		      </span>
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetComment()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-refresh">
		      	Reset
		      </span>
			</button>
		</a>
	</div> 
  </form>
</div>

<div id="CommentAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
		  <tr class="formTRClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Source
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	      		    <input type='text' id="SourceInputId" name="source.firstName" class="form-control" disabled/>
	      	      </td>
	              <td  class="formTDClass" style="vertical-align:center">
	                <div id="multiSelectForSourceDivId" style="display:none">
	                  <select id="multiSelectForSource" />
	                  <a href="#" onclick="$('#multiSelectForSourceDivId').hide();">
				        <button type="button" class="btn btn-default btn-sm">
				          <span class="glyphicon glyphicon-remove"/>
				 	    </button>
				      </a>
	                </div>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="create Referrer" onclick="addSource()">
  				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-plus"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="add Referrer from list" onclick="addSourceFromList()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-th-list"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="delete Referrer" onclick="deleteSource()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-trash"/>
				 	  </button>
				    </a>
	              </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
	</table>

  </div>
</div>
<div id="CommentFormLoadingDivId" style="display:none;color:black">
  saving Comment...<image src="../img/load_new.gif" width=48 height=48/>
</div>				  				  
<div id="CommentFormStatusDivId">
</div>				  				  


